@{
    ViewData["Title"] = "Edição de Captações de Recursos";
    Layout = "_AdminLayout";
}

<div class="insert-form">
    <link rel="stylesheet" href="~/admin/css/main.css" asp-append-version="true" />

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            font-size: 2em;
            color: white;
        }

        h1 {
            font-size: 2.5em;
            display: flex;
            justify-content: space-around;
        }

        form {
            max-width: 400px;
            margin: auto;
            display: grid;
            justify-items: center;
        }

        label {
            display: flex;
            margin-top: 10px;
        }

        input[type="text"],
        input[type="date"],
        input[type="email"],
        select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 3px black solid;
            border-radius: 10px;
        }

        button {
            margin-top: 15px;
            padding: 10px 15px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>

    <h1>Edição de Captações de Recursos</h1>
    <br>

    <form
        action="@(ViewBag.Evento.Id != null ?  "/gerenciador/eventos/update/@ViewBag.Evento.Id" : "/gerenciador/eventos/insert")"
        method="post" enctype="multipart/form-data">
        <input type="hidden" value="@(ViewBag.Evento.Id != null ? ViewBag.Evento.Id : "")" />

        <label>Nome:</label>
        <input value="@(ViewBag.Evento.Nome != null ? ViewBag.Evento.Nome : "")" />

        <label>Descrição:</label>
        <input value="@(ViewBag.Evento.Descricao != null ? ViewBag.Evento.Descricao : "")" />

        <label for="local">Local:</label>
        <select name="Local.Id">
            <option value="">Selecione um local</option>
            @foreach (var local in ViewBag.Locais)
            {
                var isSelected = ViewBag.Evento.Local.Id == local.Id ? true : false;
                <option value="@local.Id" selected="@isSelected">@local.Nome</option>
            }
        </select>

        <label for="tipo">Tipo:</label>
        <select name="TipoEvento.Id">
            <option value="">Selecione um tipo</option>
            @foreach (var tipo in ViewBag.Tipos)
            {
                var isSelected = ViewBag.Evento.TipoEvento.Id == tipo.Id ? true : false;
                <option value="@tipo.Id" selected="@isSelected">@tipo.Descricao
                </option>
            }
        </select>

        <button type="submit">Salvar</button>
    </form>
</div>
